---
import Layout from "./main.astro";
import H4 from "../components/base/typography/h4.astro";

import githubIcon from "../assets/icons/github.svg";

const { title, url, repo, details } = Astro.props;
---

<Layout
  pageTitle={`Tainara Aline - ${title}`}
  back={{ text: "Front End Projects", path: "/portfolio/projects/front-end" }}
>
  <section class="project">
    <article class="project__details">
      <div class="project__header">
        <H4>{title}</H4>
        <div class="project__links">
          <a class="project__link" href={repo} target="_blank"
            ><img
              class="project__link--icon"
              src={githubIcon.src}
              alt="Github"
            /></a
          >
          <a class="project__link" href={url} target="_blank"
            >Full Demo &rarr;</a
          >
        </div>
      </div>
      <p class="project__description">{details}</p>
    </article>
    <iframe src={url} class="project__demo"></iframe>
  </section>
</Layout>

<style lang="scss">
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
    margin: 10rem auto 0;

    &__details {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }

    &__links {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    &__link:link,
    &__link:visited {
      text-decoration: none;
      color: currentColor;
    }

    &__link--icon {
      height: 4.5rem;
      width: auto;
    }

    &__description {
      display: flex;
      align-items: stretch;
      gap: 2rem;
    }

    &__demo {
      height: 95vh;
      width: 100%;
      margin-top: 6rem;
    }
  }
</style>
